@import url('https://fonts.cdnfonts.com/css/campton');

*{
    margin: 0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family1);
}
   


:root{
    --bg-color:#000000;
    --second-bg-color:#121212;
    --text-color:#fff;
    --main-color:#ff6dfb;
    --second-color:#FFD0FE;
    --text-muted:#b1b1b1;
    --font-family1: 'Campton', sans-serif;
    --font-family2: 'Inter', sans-serif;
}



html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--second-bg-color);
}
.container{
   display: flex;
   align-items: start;
   justify-content: space-between;
   color: #b1b1b1;
   padding: 20px 0;
   position: relative;
}
.container .sidebar img{
    width: 132px;
    height: 52px;
    align-self: first baseline;
    margin-bottom:20px ;
    display: block;
}

.open-btn {
    /* Your existing styles */
    display: none; /* Hide the hamburger menu by default */
  }
  
  .close-btn {
    display: none;
   
  }
  
.container .sidebar{
    width: 309px;
    padding: 34px 24px;
    gap: 13px;
    height: 100vh;
    display: flex;
    text-wrap:nowrap ;
    transition: left 0.3s ease;
    flex-direction: column;
    border-right: 1px solid #1E1E1E
    
}
.container .sidebar a{
    color: #b1b1b1;
    text-decoration: none;
    text-align: left;
    font-family: var(--font-family1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.3px;
    letter-spacing: -0.06em;

}
.container .sidebar a:hover{
    color: #ff6dfb;

}
.container .sidebar a#selected{
    color: #ff6dfb;
}
.container .content {
  display: none;
  flex-direction: column;
  padding: 48px;
  text-align: left;
}
.container .content h1{
  text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 26.88px;
    letter-spacing: -0.06em;
    color: #fff;


}
.content.active {
    display: block; 
}
.container .content p, .container .content h6{
    font-family: Campton;
    font-size: 16.03px;
    font-weight: 600;
    line-height: 18.66px;
    letter-spacing: -0.06em;
    color: #fff;
    margin-top: 20px;
    
}
.container .content span{
    font-size: 16.03px;
    font-weight: 400;
    line-height: 18.66px;
    color: #b1b1b1;
    letter-spacing: -0.06em;
}
.container .content span a#blue{
    color: #1877f2;
}

.container .buttons{
    gap: 24px;
    display: flex;
    align-self: center;
    padding: 30px 0;
   
}
.container .buttons button{
    width: 200px;
    padding: 14px 24px;
    gap: 8px;
    border-radius: 100px;
    opacity: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 12.83px;
    font-weight: 500;
    line-height: 14.93px;
    letter-spacing: -0.06em;
    background-color: transparent;
    border: 2px solid #B1B1B1;
}
.container .buttons button:hover{
    background-color: #B1B1B1;
}
.container .buttons button:nth-child(2){
    width:290px;
    padding:14px 24px;
    gap: 8px;
    border-radius: 100px;
    opacity: 0px;
    border: none;
    cursor: pointer;
    background: #CB29BE;

}
.container .buttons button:nth-child(2):hover{
    background: #f591ec;

}




@media screen and (max-width: 768px) {
    .container{
      display: block;
      width: fit-content;
      padding:0 10px;
    }
    .sidebar {
      left:0;
      position: absolute;
      background: #000000;
    }
  
    .sidebar.active {
      left: 0;
    }
    .container .content p, .container .content h6{
        margin-top: 25px;
    }
  
    .container .content {
      padding: 15px;
      max-width: fit-content;
      text-wrap: wrap;
    }
    .open-btn {
        display: block; /* Show hamburger menu in mobile */
        /* Additional styling for the hamburger menu */
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
      }
    .close-btn {
      display: block;
      background: none;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .container .content h1{
        font-size: 30px;
        max-width: 250px;
    }
    .container .buttons{
        gap: 10px;
    }
    .container .buttons button{
        width: 100px;
    }
    .container .buttons button:nth-child(2){
        width: 190px;
    }
  }